/*mainstyles.css*/

body {
	margin: 0;
	padding: 0;
	min-width: 75em;
	font-family: 'Roboto', sans-serif;
	background-image: url("BeachVolleyball/beachNet.jpg");
	background-size: auto;
	background-position: 100%;
}

#banner h1 {
	color: antiquewhite;
	font-size: 4.8em;
	margin: 0.33em 0;
}

#banner {
	padding: 0.5em;
	background-image: url("BeachVolleyball/beach_background.jpg");
	color: red;
	text-align: center;
	height: 135px; /* Pixel height to match image */
}

#homelink {
	display: block;
	left: auto;
	top: auto;
	height: 135px;
	width: 100%;
	position: absolute;

}


#side {
	padding-top: 0.2em;
	float:left;
	width: 15%;
	color: antiquewhite;


}

#side_text {
	color: antiquewhite;
	text-align: left;
	font-size: 1.5em;
	-webkit-text-emphasis-color: red;


}

#side_text ul {
	margin: 0;
	padding: 0.5em;
	list-style: none;

}
#side_text a {
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
	text-decoration: none;

}
#side_text a:hover {
	color: #0066BB;
	text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;

}

#body {
	
}

#main {
	float: left;
	width: 85%;
	min-height: 25em;
	background: lightgray;
	text-align: center;
	font-size: 2em;
	background-image: url("BeachVolleyball/sandlight.jpg");
	background-size: cover;
}

#content {
	padding: 1em;
}

form {
	text-align: left;
	padding: 1em;
}
form label {
	width: 10em;
	float: left;
}
.form-row {
	clear: left;
}

#lower{
	clear: left;
	background: cornflowerblue;
	text-align: center
}

iframe{
	display: table-cell;
	background-color: antiquewhite;
	font-size: 2em;
	border: #3f8eff
}

img {
	float: right;
	border: 1px dotted black;
	margin: 15px 15px 15px 15px;
}